* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	height: 100%;
	overflow: hidden;
	zoom: 1;
}


.info {
	background: linear-gradient(0deg, rgba(0,108,143,1) 38%, rgba(0,119,190,1) 66%); 
}

.success {
	background: linear-gradient(0deg, rgba(1,161,0,1) 38%, rgba(0,190,19,1) 66%); 
}

.warning {
	background: linear-gradient(0deg, rgba(217,142,0,1) 38%, rgba(242,158,0,1) 66%); 
}

.error {
	background: linear-gradient(0deg, rgba(194,56,0,1) 38%, rgba(242,61,0,1) 66%); 
}


.container {
	width: 100%;
	text-align: center;
}


.messages {
	max-width: 800px;
	display: inline-flex;
	flex-direction: column;
	margin-top: 40px;
	text-align: center;
}

.popup img {
	position: relative;
	top: 5px;
	left: 4px;
	width: 30px;
}

.popup span {
	position: relative;
	left: 0px;
	top: 0px;
	margin-left: 10px;
}

.popup {
	max-width: inherit;
	text-align: center;
	word-wrap: break-word;
	width: auto;
	font-size: 28px;
	font-weight: 700;
	border-radius: 8px;
	padding: 0 10px 5px 4px;
	margin: 0 auto;
	margin-bottom: 10px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: rgb(255, 255, 255);
	text-shadow: 0 0 6px rgb(0, 0, 0);
	box-shadow: 1px 0 15px -3px rgba(43, 43, 43, 0.8);
	//background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
}

